// Body

// 白
$white: #f8fafc;


// 黒
$black: #181A1B;
$secondary-black: #242627;
$third-black: #3A3B3D;

// ダークモード限定
$btn-black: #3A3C3D;

$bg-white: #F0F2F6;
$gray: #E4E6EB;
// 基調色
$primary: #38b2ac;

$text-black: #050505;
