// Body

// 基調色
$primary: #1b76f2;

// 白
$white: #f8fafc;
$bg-white: #f0f2f6;
$btn-white: #e4e6eb;
$btn-hover-white: #dbdee7;

// 黒
$black: #181a1b;
$secondary-black: #242627;
$third-black: #3a3b3d;
$text-black: #050505;
$btn-black: #3a3c3d;

// グレー
$gray: #e4e6eb;
$btn-gray: #a7aaae;
$btn-chick-gray: #5e6771;
$btn-gray-hover: #46484b;
